.manageProductContainer {
    width: 80%;
    margin-left: 20%;
    margin-top: 50px;
}

.manageProductContainer .manageProducts {
    width: 90%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.manageProductContainer h2{
    color: rgb(135, 135, 142);
    margin-left: 20px;
}
.manageProductContainer .titles, .allProducts {
    border: 1px solid rgb(81, 76, 76);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(20, 22, 52);
}

.titles h4{
    color: rgb(124, 211, 111);
}
.allProducts {
    margin-top: 20px;
    border: none;
    display: flex;
    background-color: white;
}

.allProducts h3 {
    color: rgb(62, 57, 57);
    font-weight: 400;
    width: 270px;
    text-align: center;
    position: relative;
    left: 30px;
}

.allProducts .name{
    text-align: justify;
}

.icon{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-right: 20px;
    justify-content: center;
}

.deleteIcon{
    cursor: pointer;
    color: rgb(15, 64, 95);
}

.deleteIcon:hover {
    color: red;
}

@media screen and (max-width: 500px) {
    .manageProductContainer{
        margin-left: 0;
        width: 100%;
        margin-top: 100px;
        font-size: 10px;
    }

    .allProducts .name{
        text-align: start;
    }
}