.container {
    border: solid 1px white;
    width: 70%;
    margin: 0% auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.checkoutTitles, .checkoutData {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgb(37, 35, 35);
}

.checkoutTitles h4 {
    font-weight: 300;
}

.checkoutData {
    margin-top: 20px;
    color: black;
    background-color: white;
}

.description {
    width: 50%;
}

.total{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0% auto;
    color: rgb(99, 99, 197);
}

.checkoutBtn{
    margin-top: 20px;
    position: absolute;
    right: 210px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(48, 75, 128);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}