.login{
    border: 1px solid white;
    width: 30%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 30px;
}

.login h3{
    color: coral;
    text-align: center;
}

.login .googleIcon{
    color: cornflowerblue;
    margin-right: 10px;
}

.login h2{
    color: crimson;
    border: 1px solid cyan;
    border-radius: 20px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
}

.login h2:hover{
    transform: scale(1.02);
    background-color: rgb(62, 62, 64);
}